body {
    font-family: "Poppins", sans-serif !important;
    background-color: #f0ebe2 !important;
}

.widget-main-container {
    max-width: 450px;
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.175);
    background-color: #f9f6fa !important;
}

.widget-card-title {
    background-color: #f0f4f9 !important;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.175);;
}

#revenue-widget-card {
    height: 202px;
}

.chart-container-default {
    border-right: 0.5px solid lightgray;
    padding-left: 5px;
    margin: 0;
}

div.google-visualization-tooltip {
    background-color: rgba(0, 0, 0, 0.7);
}

.border-bottom-separator {
 border-bottom: 0.5px solid lightgray;
}

div.google-visualization-tooltip span {
    color: rgba(255, 255, 255, 1) !important;
    /*font-weight: bold !important;*/
}

.filter-expand-container {
    height: 25px;
}

.filter-expand-button, .generic-button {
    color: #39bff5;
    transition: all 0.2s ease-in-out !important;
}


.filter-expand-button:hover, .generic-button:hover{
    color: #2E99C4;
    text-decoration: none !important;
    /*background-color: #b4b4b4;*/
    cursor: pointer;
}

.generic-button:active {
    transition: none!important;
    color: #adddff !important;
    text-decoration: none !important;
}

.border-top-separator {
    border-top: 0.5px solid lightgray;
}

.toggle-button-base {
    border: 1px solid #6bccf6;
    background-color: #f0f4f9;
    color: #2fbaf5;
    border-radius: 3px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, font-size 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


.toggle-button-base:hover, .selected-group{
    font-size: 1.05rem;
    box-shadow:  0 0 0.5rem rgba(0, 0, 0, 0.3);
    margin: auto 0;
    background-color: #6bccf6 !important;
    color: #ffffff;
}

.h-33 {
    min-height: 50px;
    max-height: 33%;
}

.w-33 {
    width: 33% !important;
}

.submit-button-base {
    border: 1px solid #6bccf6;
    color: #2fbaf5;
    border-radius: 3px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, font-size 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.submit-button-base:hover {
    box-shadow:  0 0 0.5rem rgba(0, 0, 0, 0.3);
    background-color: #6bccf6 !important;
    color: #ffffff;
}

.toggle-switch-base[type="checkbox"] {
    background-color: #f0f4f9;
    border-color: #39bff5;
}

.toggle-switch-base[type="checkbox"]:checked {
    background-color: #39bff5;
    border-color: #39bff5;
}

.toggle-switch-base[type="checkbox"]:hover {
    cursor: pointer;

}

.toggle-switch-base[type="checkbox"]:focus{
    box-shadow: none;
    outline: none;
}

.soft-h-100 {
    height: 100%;
}

#filter-options-container {
    height: 100%;
    max-height: 0;
    overflow: hidden;
    z-index: 10;
    transition: max-height 0.5s ease-in-out, height 0.5s ease-in-out;
    border-bottom-right-radius: 1rem    ;
}

#filter-options-container > * {
    transition: transform 0.5s ease;
    transform: translateY(0);
}

#filter-options-container > * {
    transform: translateY(0); /* Reset transformation */
}


.hidden-filter {
    max-height: 1000px !important;
}

.bg-selma {
    background-color: #f0f4f9 !important;
}

.center-x {
    left: auto;
    right: auto;
}

#pie_chart {
    margin-left: 0px !important;
}


.transition-5 {
    transition: width 0.5s ease-in-out !important;
}


#chart_div {
    width: 306px;
}

#revenue-right, #pie_chart {
   width: 143px;
}

.mini-chart{
    width: 200px !important;
}

.mega-chart {
    width: 248px !important;
}

.google-visualization-tooltip {
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.7 )!important;
    border: none !important;
    border-radius: 1rem !important;
    padding: 0px !important; /* Add padding to the tooltip content */
    width: auto !important; /* Adjust the width as needed */
    transition: all 0.5s ease-in-out !important;
}


#pie-report-container{
    width: 142px;
    height: 176.5px;
    overflow: hidden;
    border-bottom-right-radius: 1rem;
}

label {
    font-size: 0.9rem !important;
}

#revenue-report-title {
    font-size: 4rem;
}

.revenue_report_line_item{
    border: 2px solid black;
    padding: 2px;

}