{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="revenueReport.css">
{% endblock %}

{% block script %}
    <script>let filterOptions = {{ filterOptions | json_encode | raw }}</script>
    <script src="{{ asset('js/revenueReport.js') }}">
    </script>
{% endblock %}


{% block body %}
    {# Revenue report main container #}
    <div id="revenue-report">
        <h1 class="revenue-title">Revenue Report</h1>

        <div id="bar-chart-div" class="chart-outline w-90 mx-auto my-4">
            <div id="report-bar-chart"></div>
        </div>

        <div id="trends-div" class="w-90 d-flex flex-row justify-content-between mx-auto flex-wrap mb-4"></div>

        <div id="main-bar-chart-div"></div>
        <div id="revenueReportContainer"></div>
    </div>
{% endblock %}